<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>salom</h1>
    <table sty>
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for i in context %}
            <tr>
                <td>{{i.first_name }}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>




